{# app/Resources/views/Emails/registration.html.twig #}
<h3>Une erreur est survenue sur le front</h3>

<p>L'utilisateur {{ name }} ({{ username }}) a rencontré une erreur le {{ date }}.</p>

<p>Son IP était : {{ ip }}.</p>

<p>{{ error }}</p>