{# app/Resources/views/Emails/registration.html.twig #}
<h3>Bravo, vous êtes maintenant inscrit sur Peeramid !</h3>

<p>Bonjour {{ name }} ! Vous avez été inscrit sur la plateforme Peeramid.</p>

<p>Vos identifiants sont :<br>
Nom d'utilisateur : {{ username }}<br>
Mot de passe : {{ password }}</p>

<p>Vous pouvez vous connecter à l'adresse suivante : <a href="{{ address }}">{{ address }}</a>.</p>

Merci !